In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv("USDA.csv",encoding="cp1252")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7058 entries, 0 to 7057
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            7058 non-null   int64
 1   Description   7058 non-null   object
 2   Calories      7057 non-null   float64
 3   Protein       7057 non-null   float64
 4   TotalFat      7057 non-null   float64
 5   Carbohydrate  7057 non-null   float64
 6   Sodium        6974 non-null   float64
 7   SaturatedFat  6757 non-null   float64
 8   Cholesterol   6770 non-null   float64
 9   Sugar         5148 non-null   float64
 10  Calcium       6922 non-null   float64
 11  Iron          6935 non-null   float64
 12  Potassium     6649 non-null   float64
 13  VitaminC      6726 non-null   float64
 14  VitaminE      4338 non-null   float64
 15  VitaminD      4224 non-null   float64
dtypes: float64(14), int64(1), object(1)
memory usage: 882.4+ KB

In [2]:
df.head()

,ID,Description,Calories,Protein,TotalFat,Carbohydrate,Sodium,SaturatedFat,Cholesterol,Sugar,Calcium,Iron,Potassium,VitaminC,VitaminE,VitaminD
0,1001,"BUTTER,WITH SALT",717.0,0.85,81.11,0.06,714.0,51.368,215.0,0.06,24.0,0.02,24.0,0.0,2.32,1.5
1,1002,"BUTTER,WHIPPED,WITH SALT",717.0,0.85,81.11,0.06,827.0,50.489,219.0,0.06,24.0,0.16,26.0,0.0,2.32,1.5
2,1003,"BUTTER OIL,ANHYDROUS",876.0,0.28,99.48,0.00,2.0,61.924,256.0,0.00,4.0,0.00,5.0,0.0,2.80,1.8
3,1004,"CHEESE,BLUE",353.0,21.40,28.74,2.34,1395.0,18.669,75.0,0.50,528.0,0.31,256.0,0.0,0.25,0.5
4,1005,"CHEESE,BRICK",371.0,23.24,29.68,2.79,560.0,18.764,94.0,0.51,674.0,0.43,136.0,0.0,0.26,0.5

In [3]:
df.describe()

,ID,Calories,Protein,TotalFat,Carbohydrate,Sodium,SaturatedFat,Cholesterol,Sugar,Calcium,Iron,Potassium,VitaminC,VitaminE,VitaminD
count,7058.000000,7057.000000,7057.000000,7057.000000,7057.000000,6974.000000,6757.000000,6770.000000,5148.000000,6922.000000,6935.000000,6649.000000,6726.000000,4338.000000,4224.000000
mean,14259.821196,219.695338,11.710368,10.320614,20.697860,322.059220,3.452267,41.551994,8.256540,73.530627,2.828368,301.357949,9.435980,1.487462,0.576918
std,8577.179705,172.198755,10.919356,16.814191,27.630443,1045.416931,6.921267,122.963028,15.361509,222.445338,6.019878,415.638949,71.256536,5.386914,4.301147
min,1001.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8387.250000,85.000000,2.290000,0.720000,0.000000,37.000000,0.172000,0.000000,0.000000,9.000000,0.520000,135.000000,0.000000,0.120000,0.000000
50%,13293.500000,181.000000,8.200000,4.370000,7.130000,79.000000,1.256000,3.000000,1.395000,19.000000,1.330000,250.000000,0.000000,0.270000,0.000000
75%,18336.750000,331.000000,20.430000,12.700000,28.170000,386.000000,4.028000,69.000000,7.875000,56.000000,2.620000,348.000000,3.100000,0.710000,0.100000
max,93600.000000,902.000000,88.320000,100.000000,100.000000,38758.000000,95.600000,3100.000000,99.800000,7364.000000,123.600000,16500.000000,2400.000000,149.400000,250.000000

In [4]:
df[1:3]

,ID,Description,Calories,Protein,TotalFat,Carbohydrate,Sodium,SaturatedFat,Cholesterol,Sugar,Calcium,Iron,Potassium,VitaminC,VitaminE,VitaminD
1,1002,"BUTTER,WHIPPED,WITH SALT",717.0,0.85,81.11,0.06,827.0,50.489,219.0,0.06,24.0,0.16,26.0,0.0,2.32,1.5
2,1003,"BUTTER OIL,ANHYDROUS",876.0,0.28,99.48,0.00,2.0,61.924,256.0,0.00,4.0,0.00,5.0,0.0,2.80,1.8

In [5]:
df.groupby("Sugar").size()

Sugar
0.00     1657
0.01        4
0.02        7
0.03        5
0.04        3
         ...
97.15       1
97.30       1
97.81       1
99.19       1
99.80       1
Length: 1565, dtype: int64

In [6]:
df.count()

ID              7058
Description     7058
Calories        7057
Protein         7057
TotalFat        7057
Carbohydrate    7057
Sodium          6974
SaturatedFat    6757
Cholesterol     6770
Sugar           5148
Calcium         6922
Iron            6935
Potassium       6649
VitaminC        6726
VitaminE        4338
VitaminD        4224
dtype: int64

In [9]:
df.loc[5:10,"Artist.Name":"Energy"]

      Artist.Name        Genre  Beats.Per.Minute  Energy
5      Ed Sheeran          pop               102      68
6       Lil Tecca   trap music               180      64
7       Sam Smith          pop               111      68
8       Lil Nas X  country rap               136      62
9   Billie Eilish   electropop               135      43
10      Bad Bunny    reggaeton               176      62

In [10]:
df.groupby("Genre").agg({'Energy': np.mean,'Danceability':np.mean,'Genre': np.size})

                     Energy  Danceability  Genre
Genre
atl hip hop       59.000000     80.000000      1
australian pop    59.000000     82.000000      1
big room          72.000000     66.000000      1
boy band          73.000000     84.000000      1
brostep           70.500000     67.500000      2
canadian hip hop  45.000000     80.000000      3
canadian pop      68.500000     72.500000      2
country rap       60.500000     79.000000      2
dance pop         59.875000     70.250000      8
dfw rap           56.500000     67.000000      2
edm               63.000000     52.333333      3
electropop        44.000000     68.500000      2
escape room       62.000000     72.000000      1
latin             76.600000     72.000000      5
panamanian pop    74.500000     74.000000      2
pop               63.285714     68.428571      7
pop house         74.000000     68.000000      1
r&b en espanol    69.000000     88.000000      1
reggaeton         66.500000     69.500000      2
reggaeton flow    80.000000     80.000000      2
trap music        64.000000     75.000000      1

In [11]:
df.assign(DanEner=df['Danceability']/df['Energy'])[['Danceability','DanEner']]

    Danceability   DanEner
0             76  1.381818
1             79  0.975309
2             40  0.500000
3             64  0.984615
4             58  0.892308
5             80  1.176471
6             75  1.171875
7             48  0.705882
8             88  1.419355
9             70  1.627907
10            61  0.983871
11            82  1.154930
12            50  1.219512
13            73  0.924051
14            83  1.660000
15            70  1.555556
16            75  1.153846
17            76  1.583333
18            84  2.153846
19            72  1.161290
20            68  0.918919
21            70  1.186441
22            81  1.025316
23            80  1.025641
24            67  1.488889
25            69  0.841463
26            82  1.389831
27            73  1.586957
28            74  0.860465
29            64  0.810127
30            29  0.568627
31            78  2.437500
32            78  1.098592
33            80  1.355932
34            77  0.875000
35            66  0.916667
36            75  1.071429
37            72  0.878049
38            84  1.150685
39            81  1.446429
40            69  1.014706
41            77  1.132353
42            57  1.461538
43            90  2.250000
44            88  1.275362
45            66  1.064516
46            67  0.893333
47            69  0.873418
48            59  0.842857
49            75  0.949367

In [21]:
df.loc[5:10]

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
5,6,I Don't Care (with Justin Bieber),Ed Sheeran,pop,102,68,80,-5,9,84,220,9,4,84
6,7,Ransom,Lil Tecca,trap music,180,64,75,-6,7,23,131,2,29,92
7,8,How Do You Sleep?,Sam Smith,pop,111,68,48,-5,8,35,202,15,9,90
8,9,Old Town Road - Remix,Lil Nas X,country rap,136,62,88,-6,11,64,157,5,10,87
9,10,bad guy,Billie Eilish,electropop,135,43,70,-11,10,56,194,33,38,95
10,11,Callaita,Bad Bunny,reggaeton,176,62,61,-5,24,24,251,60,31,93

In [22]:
df.iloc[5:11]

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
5,6,I Don't Care (with Justin Bieber),Ed Sheeran,pop,102,68,80,-5,9,84,220,9,4,84
6,7,Ransom,Lil Tecca,trap music,180,64,75,-6,7,23,131,2,29,92
7,8,How Do You Sleep?,Sam Smith,pop,111,68,48,-5,8,35,202,15,9,90
8,9,Old Town Road - Remix,Lil Nas X,country rap,136,62,88,-6,11,64,157,5,10,87
9,10,bad guy,Billie Eilish,electropop,135,43,70,-11,10,56,194,33,38,95
10,11,Callaita,Bad Bunny,reggaeton,176,62,61,-5,24,24,251,60,31,93

In [23]:
df[5:11]

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
5,6,I Don't Care (with Justin Bieber),Ed Sheeran,pop,102,68,80,-5,9,84,220,9,4,84
6,7,Ransom,Lil Tecca,trap music,180,64,75,-6,7,23,131,2,29,92
7,8,How Do You Sleep?,Sam Smith,pop,111,68,48,-5,8,35,202,15,9,90
8,9,Old Town Road - Remix,Lil Nas X,country rap,136,62,88,-6,11,64,157,5,10,87
9,10,bad guy,Billie Eilish,electropop,135,43,70,-11,10,56,194,33,38,95
10,11,Callaita,Bad Bunny,reggaeton,176,62,61,-5,24,24,251,60,31,93

In [24]:
df.columns

Index(['Unnamed: 0', 'Track.Name', 'Artist.Name', 'Genre', 'Beats.Per.Minute',
       'Energy', 'Danceability', 'Loudness..dB..', 'Liveness', 'Valence.',
       'Length.', 'Acousticness..', 'Speechiness.', 'Popularity'],
      dtype='object')

In [26]:
df[['Artist.Name','Track.Name','Popularity']]

,Artist.Name,Track.Name,Popularity
0,Shawn Mendes,Señorita,79
1,Anuel AA,China,92
2,Ariana Grande,boyfriend (with Social House),85
3,Ed Sheeran,Beautiful People (feat. Khalid),86
4,Post Malone,Goodbyes (Feat. Young Thug),94
5,Ed Sheeran,I Don't Care (with Justin Bieber),84
6,Lil Tecca,Ransom,92
7,Sam Smith,How Do You Sleep?,90
8,Lil Nas X,Old Town Road - Remix,87
9,Billie Eilish,bad guy,95
10,Bad Bunny,Callaita,93
11,DJ Snake,Loco Contigo (feat. J. Balvin & Tyga),86
12,Lewis Capaldi,Someone You Loved,88
13,Sech,Otro Trago - Remix,87
14,Drake,Money In The Grave (Drake ft. Rick Ross),92
15,Chris Brown,No Guidance (feat. Drake),82
16,J Balvin,LA CANCIÓN,90
17,Post Malone,Sunflower - Spider-Man: Into the Spider-Verse,91
18,Y2K,Lalala,88
19,Lizzo,Truth Hurts,91
20,MEDUZA,Piece Of Your Heart,91
21,Lil Nas X,Panini,91
22,Jhay Cortez,No Me Conoce - Remix,83
23,Lunay,Soltera - Remix,91
24,Billie Eilish,bad guy (with Justin Bieber),89
25,Shawn Mendes,If I Can't Have You,70
26,Tones and I,Dance Monkey,83
27,Ali Gatie,It's You,89
28,Daddy Yankee,Con Calma,91
29,J Balvin,QUE PRETENDES,89
30,The Chainsmokers,Takeaway,84
31,Ariana Grande,7 rings,89
32,Maluma,0.958333333333333,89
33,Young Thug,The London (feat. J. Cole & Travis Scott),89
34,Katy Perry,Never Really Over,89
35,Martin Garrix,Summer Days (feat. Macklemore & Patrick Stump ...,89
36,Sech,Otro Trago,91
37,Ed Sheeran,Antisocial (with Travis Scott),87
38,Jonas Brothers,Sucker,80
39,Lauv,"fuck, i'm lonely (with Anne-Marie) - from “13 ...",78
40,Kygo,Higher Love,88
41,Taylor Swift,You Need To Calm Down,90
42,Lady Gaga,Shallow,87
43,Khalid,Talk,84
44,ROSALÍA,Con Altura,88
45,Marshmello,One Thing Right,88
46,Nicky Jam,Te Robaré,88
47,Marshmello,Happier,88
48,The Chainsmokers,Call You Mine,88
49,Ed Sheeran,Cross Me (feat. Chance the Rapper & PnB Rock),82

In [27]:
df.groupby('Genre').size()

Genre
atl hip hop         1
australian pop      1
big room            1
boy band            1
brostep             2
canadian hip hop    3
canadian pop        2
country rap         2
dance pop           8
dfw rap             2
edm                 3
electropop          2
escape room         1
latin               5
panamanian pop      2
pop                 7
pop house           1
r&b en espanol      1
reggaeton           2
reggaeton flow      2
trap music          1
dtype: int64

In [28]:
df.groupby('Artist.Name').size()

Artist.Name
Ali Gatie           1
Anuel AA            1
Ariana Grande       2
Bad Bunny           1
Billie Eilish       2
Chris Brown         1
DJ Snake            1
Daddy Yankee        1
Drake               1
Ed Sheeran          4
J Balvin            2
Jhay Cortez         1
Jonas Brothers      1
Katy Perry          1
Khalid              1
Kygo                1
Lady Gaga           1
Lauv                1
Lewis Capaldi       1
Lil Nas X           2
Lil Tecca           1
Lizzo               1
Lunay               1
MEDUZA              1
Maluma              1
Marshmello          2
Martin Garrix       1
Nicky Jam           1
Post Malone         2
ROSALÍA             1
Sam Smith           1
Sech                2
Shawn Mendes        2
Taylor Swift        1
The Chainsmokers    2
Tones and I         1
Y2K                 1
Young Thug          1
dtype: int64

In [29]:
df.groupby('Genre').agg({'Energy':np.mean,'Danceability':np.mean,'Genre': np.size})

                     Energy  Danceability  Genre
Genre
atl hip hop       59.000000     80.000000      1
australian pop    59.000000     82.000000      1
big room          72.000000     66.000000      1
boy band          73.000000     84.000000      1
brostep           70.500000     67.500000      2
canadian hip hop  45.000000     80.000000      3
canadian pop      68.500000     72.500000      2
country rap       60.500000     79.000000      2
dance pop         59.875000     70.250000      8
dfw rap           56.500000     67.000000      2
edm               63.000000     52.333333      3
electropop        44.000000     68.500000      2
escape room       62.000000     72.000000      1
latin             76.600000     72.000000      5
panamanian pop    74.500000     74.000000      2
pop               63.285714     68.428571      7
pop house         74.000000     68.000000      1
r&b en espanol    69.000000     88.000000      1
reggaeton         66.500000     69.500000      2
reggaeton flow    80.000000     80.000000      2
trap music        64.000000     75.000000      1

In [34]:
df[['Danceability','Energy']].assign(DanceabilityParEnergy=df['Danceability'] / df['Energy']).head(5)

   Danceability  Energy  DanceabilityParEnergy
0            76      55               1.381818
1            79      81               0.975309
2            40      80               0.500000
3            64      65               0.984615
4            58      65               0.892308