In [33]:
import numpy as np
import pandas as pd
df = pd.read_csv("top50.csv",encoding="cp1252")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 14 columns):
Unnamed: 0          50 non-null int64
Track.Name          50 non-null object
Artist.Name         50 non-null object
Genre               50 non-null object
Beats.Per.Minute    50 non-null int64
Energy              50 non-null int64
Danceability        50 non-null int64
Loudness..dB..      50 non-null int64
Liveness            50 non-null int64
Valence.            50 non-null int64
Length.             50 non-null int64
Acousticness..      50 non-null int64
Speechiness.        50 non-null int64
Popularity          50 non-null int64
dtypes: int64(11), object(3)
memory usage: 5.5+ KB

In [19]:
df.head()

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
0,1,Señorita,Shawn Mendes,canadian pop,117,55,76,-6,8,75,191,4,3,79
1,2,China,Anuel AA,reggaeton flow,105,81,79,-4,8,61,302,8,9,92
2,3,boyfriend (with Social House),Ariana Grande,dance pop,190,80,40,-4,16,70,186,12,46,85
3,4,Beautiful People (feat. Khalid),Ed Sheeran,pop,93,65,64,-8,8,55,198,12,19,86
4,5,Goodbyes (Feat. Young Thug),Post Malone,dfw rap,150,65,58,-4,11,18,175,45,7,94

In [20]:
df.describe()

,Unnamed: 0,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
count,50.00000,50.000000,50.000000,50.00000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000
mean,25.50000,120.060000,64.060000,71.38000,-5.660000,14.660000,54.600000,200.960000,22.160000,12.480000,87.500000
std,14.57738,30.898392,14.231913,11.92988,2.056448,11.118306,22.336024,39.143879,18.995553,11.161596,4.491489
min,1.00000,85.000000,32.000000,29.00000,-11.000000,5.000000,10.000000,115.000000,1.000000,3.000000,70.000000
25%,13.25000,96.000000,55.250000,67.00000,-6.750000,8.000000,38.250000,176.750000,8.250000,5.000000,86.000000
50%,25.50000,104.500000,66.500000,73.50000,-6.000000,11.000000,55.500000,198.000000,15.000000,7.000000,88.000000
75%,37.75000,137.500000,74.750000,79.75000,-4.000000,15.750000,69.500000,217.500000,33.750000,15.000000,90.750000
max,50.00000,190.000000,88.000000,90.00000,-2.000000,58.000000,95.000000,309.000000,75.000000,46.000000,95.000000

In [21]:
df[1:3]

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
1,2,China,Anuel AA,reggaeton flow,105,81,79,-4,8,61,302,8,9,92
2,3,boyfriend (with Social House),Ariana Grande,dance pop,190,80,40,-4,16,70,186,12,46,85

In [22]:
df.groupby("Artist.Name").size()

Artist.Name
Ali Gatie           1
Anuel AA            1
Ariana Grande       2
Bad Bunny           1
Billie Eilish       2
Chris Brown         1
DJ Snake            1
Daddy Yankee        1
Drake               1
Ed Sheeran          4
J Balvin            2
Jhay Cortez         1
Jonas Brothers      1
Katy Perry          1
Khalid              1
Kygo                1
Lady Gaga           1
Lauv                1
Lewis Capaldi       1
Lil Nas X           2
Lil Tecca           1
Lizzo               1
Lunay               1
MEDUZA              1
Maluma              1
Marshmello          2
Martin Garrix       1
Nicky Jam           1
Post Malone         2
ROSALÍA             1
Sam Smith           1
Sech                2
Shawn Mendes        2
Taylor Swift        1
The Chainsmokers    2
Tones and I         1
Y2K                 1
Young Thug          1
dtype: int64

In [23]:
df.groupby("Genre").size()

Genre
atl hip hop         1
australian pop      1
big room            1
boy band            1
brostep             2
canadian hip hop    3
canadian pop        2
country rap         2
dance pop           8
dfw rap             2
edm                 3
electropop          2
escape room         1
latin               5
panamanian pop      2
pop                 7
pop house           1
r&b en espanol      1
reggaeton           2
reggaeton flow      2
trap music          1
dtype: int64

In [25]:
df.count()

Unnamed: 0          50
Track.Name          50
Artist.Name         50
Genre               50
Beats.Per.Minute    50
Energy              50
Danceability        50
Loudness..dB..      50
Liveness            50
Valence.            50
Length.             50
Acousticness..      50
Speechiness.        50
Popularity          50
dtype: int64

In [29]:
df.loc[5:10,"Artist.Name":"Energy"]

      Artist.Name        Genre  Beats.Per.Minute  Energy
5      Ed Sheeran          pop               102      68
6       Lil Tecca   trap music               180      64
7       Sam Smith          pop               111      68
8       Lil Nas X  country rap               136      62
9   Billie Eilish   electropop               135      43
10      Bad Bunny    reggaeton               176      62

In [32]:
df.groupby("Genre").agg({'Energy': np.mean,'Danceability':np.mean,'Genre': np.size})

                     Energy  Danceability  Genre
Genre
atl hip hop       59.000000     80.000000      1
australian pop    59.000000     82.000000      1
big room          72.000000     66.000000      1
boy band          73.000000     84.000000      1
brostep           70.500000     67.500000      2
canadian hip hop  45.000000     80.000000      3
canadian pop      68.500000     72.500000      2
country rap       60.500000     79.000000      2
dance pop         59.875000     70.250000      8
dfw rap           56.500000     67.000000      2
edm               63.000000     52.333333      3
electropop        44.000000     68.500000      2
escape room       62.000000     72.000000      1
latin             76.600000     72.000000      5
panamanian pop    74.500000     74.000000      2
pop               63.285714     68.428571      7
pop house         74.000000     68.000000      1
r&b en espanol    69.000000     88.000000      1
reggaeton         66.500000     69.500000      2
reggaeton flow    80.000000     80.000000      2
trap music        64.000000     75.000000      1